.text-section-parent {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: none;
  background-color: #222;
  opacity: 0.99;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.text-selection-content {
  min-width: 500px;
  width: 40vw;
  height: content;
  overflow: scroll;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  line-height: 20px;
  color: #222;
  z-index: 9999999;
  text-align: inherit;
  cursor: text;
  resize: horizontal;
}

.text-selection-content p {
  font-size: 27px !important;
  line-height: 50px !important;
}
