.text-section-parent {
  position: fixed;
  z-index: 2147483646;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: none;
  background-color: #222;
  opacity: 0.99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.text-selection-content {
  position: relative;
  min-width: 350px;
  width: 40vw;
  height: 80%;
  max-height: 80vh;
  overflow: scroll;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  line-height: 20px;
  color: #222;
  z-index: 2147483647;
  text-align: inherit;
  cursor: text;
  resize: horizontal;
}

.text-selection-content p {
  font-size: 27px !important;
  line-height: 50px !important;
  margin-top: 20px;
}

.text-selection-content .close-button-content {
  position: fixed;
  font-style: inherit;
  top: 15px;
  left: 15px;
  color: #222;
  cursor: pointer;
}

.text-selection-content .close-button-content:hover {
  opacity: 0.6;
}
